html, body
{
	width: 100%;
	height: 100%;
}

body
{
	margin: 0;
	border: 0;
	padding: 0;
	font-family: "Arial", sans-serif;
	font-size: medium;
	overflow: auto;
	background: #FFF;
}

table.data
{
    border-collapse: collapse;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    background: #DFF;
}

table.data th
{
    border: 1px solid black;
    text-align: left;
    padding: 6px 20px;
}

table.data td
{
    border: 1px solid black;
    text-align: left;
    padding: 6px 20px;
}

table.data td.bad
{
    background: #f47171;
}

table.data td.good
{
    background: #9de889;
}

table.login
{
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    background: #b2eeb1;
}

table.login th, td
{
    border-style: none;
    text-align: center;
    padding: 6px 20px;
}

table.header
{
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    background: #b2eeb1;
}

table.header th, td
{
    border-style: none;
    text-align: center;
    padding: 6px 20px;
}

table.warning
{
	margin-left: 60px;
	background: #FE9A2E;
}

table.input
{
	background: #CCC;
}

table.output
{
	margin-left: 60px;
	background: #81C6DD;
}

p.success
{
    width: 800px;
    margin-left: 60px;
    padding: 20px;
    background: #44fe50;
    font-weight: bold;
}

p.error
{
	width: 800px;
	margin-left: 60px;
	padding: 20px;
	background: #FE2E2E;
	font-weight: bold;
}

p.json
{
    margin-left: 20px;
}

p.root
{
	width: 420px;
	margin-left: 20px;
	background: #C3C3E5;
}

p.state
{
	width: 420px;
	margin-left: 60px;
	background: #90CA77;
}

p.district
{
	width: 800px;
	margin-left: 100px;
	background: #81C6DD;
}

p.school
{
	width: 800px;
	margin-left: 140px;
	background: #E9B64D;
}

p.class
{
	width: 800px;
	margin-left: 180px;
	background: #E48743;
}

p.message
{
	width: 800px;
	margin-left: 60px;
	padding: 20px;
	background: #9CBCA8;
	font-weight: bold;
}

p.organization
{
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
    padding: 20px;
    background: #C3C3E5;
    font-weight: bold;
}

p.output
{
    width: auto;
    margin-left: 60px;
    padding: 20px;
}

p.status
{
    display: none;
}

p.warning
{
	width: 800px;
	margin-left: 60px;
	padding: 20px;
	background: #FE9A2E;
	font-weight: bold;
}
